.UserProfile {
    font-family: Arial, sans-serif;
    margin: 3rem 1rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
}

.UserProfile__left {
    display: flex;
    align-items:stretch;
    flex-direction: column-reverse;
}

.UserProfile__tier {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 0.1rem;
}

.UserProfile__username {
    font-size: 1.8rem;
    font-weight: bolder;
}

.UserProfile__stat {
    font-size: 4.5rem;
    padding-bottom: 0;
    margin-bottom: 0;
}
