.Welcome {
    height: 90%;
}

.logo {
    height: 45%;
    font-size: 7rem;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.searchBar {
    font-family: Arial sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    margin-bottom: -0.2rem;
    width: 2rem;
}

.searchInput {
    font-size: 2rem;
    margin-right: 0.5rem;
    text-align: center;
    padding: 0;
    border-radius: 2rem;
    width: 70%;
}

.searchInput:focus {
    outline: none;
}